@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/* color : #664DE5 */
* {
  font-family: "Inter", sans-serif;
}
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background-color: #664de5;
  width: 30rem;
  padding: 0.9rem 0.8rem;
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 2rem;
}
button:active {
  transform: translateY(2%);
}
input[type="text"] {
  /* position: relative; */
  padding: 0.6rem 0.4rem;
  font-size: 1rem;
  width: 29rem;
  border: 2px solid rgb(213, 213, 213);
  border-radius: 5px;
}
input[type="text"]:focus {
  outline: #664de5;
  border: 2px solid #664de5;
}
.pageOne {
  display: grid;
  justify-items: center;
  /* position: relative; */

}
.welcome-text {
  text-align: center;
  margin-bottom: 2rem;
}
.welcome-text h1 {
  font-size: 2rem;
  margin-bottom: -0.1rem;
}
.welcome-text p {
  color: #949494;
}
.label-text {
  font-weight: 600;
  color: #7b7b7b;
  position: relative;
}
.custom-ip{
    border: 2px solid rgb(213, 213, 213);
    border-radius: 5px;
}
.custom-ip:hover{
    outline: #664de5;
    border: 2px solid #664de5;
}
.box{
    border: 1px solid rgb(213, 213, 213);
    border-radius: 5px;
    width: 11.3rem;

}
.option-plan{
    display: flex;
    gap: 3rem;
    justify-content: space-between;
}
.option-plan > *{
    padding: 1rem 0.8rem;
}
.box-body{
    color: #7b7b7b;
}
.checked{
  margin-top: 10rem;
}
.statusIcon{
  width: 3rem;
  text-align: center;
  height: 3rem;
  background-color: whitesmoke;
  color: black;

  border-radius: 100%;
  display: flex;
  align-items: center;
  margin: 4rem 0;

  justify-content: center;
  position: relative;
}
.statusIndicator{
  /* display: flex;
  flex-direction: column;
  align-items: center;
  gap: -5rem; */

}

.init::before{
  content: '';
  position: absolute;
  background: linear-gradient(90deg, #664de5 50%, whitesmoke 50%);
  height: 1px;
  width: 140%;
  left: 100%;
}
.completed::before{
  content: '';
  position: absolute;
  background: linear-gradient(90deg, #664de5 100%, whitesmoke 0%);
  height: 1px;
  width: 140%;
  left: 100%;
}
.statusColor{
  background-color: #664de5;
  color: white;
}
.stepper{
  position: relative;
  height: 5rem;
  padding: 2rem 0;

}
.child{
  position: absolute;
  /* margin-left: 4rem; */
  margin: 0 auto;
  top: 50%;
  left: 50%;
  width: 300px;
  transform: translate(-50%, -50%);
}
